body {
  margin: 0;
  line-height: 1.5;
  font-size: 14pt;
  color: #222222;
  background: #eeeeee;
  padding: 0;
  font-family: $font-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.2;
  font-family: $font-sansserif;
}

a {
  color: #222222;
  text-decoration: underline;

  &:hover {
    color: #8a2888;
    text-decoration: none;
  }
}

figure {
  display: block;
  text-align: center;
  overflow-x: auto;

  img,
  video {
    max-width: 100%;
  }

  figcaption {
    display: block;
    font-size: 0.75em;
    text-align: center;
  }
}

code {
  margin: 0 2px;
  padding: 0 2px;
  border: 1px solid #4c566a;
  border-radius: 3px;
  word-break: break-all;
  font-family: $font-mono;
  font-size: 0.75em;
}

pre {
  overflow-x: auto;
  font-family: $font-mono;
  padding: 0.5em;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;

  dt {
    font-weight: 700;
    margin: 0;
    padding: 0.5em;
    border-right: 1px solid #dddddd;
  }

  dd {
    margin: 0;
    padding: 0.5em;
  }

  dt, dd {
    p {
      margin: 0;
    }
  }
}
