@media (prefers-color-scheme: dark) {
  body {
    background-color: #222222;
    color: #eeeeee;
  }

  a {
    color: #eeeeee;

    &:hover {
      color: #5babd1;
    }
  }

  nav {
    background: #18181d;
  }

  img {
    filter: grayscale(30%);
  }
}
