@media print {
  body {
    background: #ffffff;
    color: #000000;
  }

  a {
    color: #000000;
    text-decoration: underline;
  }

  h2,
  h3 {
    break-after: avoid-page;
  }

  figure {
    break-inside: avoid;
  }

  p {
    orphans: 2;
    widows: 2;
  }

  * {
      overflow: hidden;
  }

  nav {
    display: none;
  }

  body {
    display: block;
  }
}
