@import url('https://fonts.googleapis.com/css?family=Crimson+Pro|Poppins:700|Source+Code+Pro&display=swap');

$font-serif: 'Crimson Pro', "Georgia", Georgia, "Times New Roman", Times, serif !default;
$font-sansserif: 'Poppins', "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !default;
$font-mono: 'Source Code Pro', "Courier New", Courier, monospace !default;
